[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "VOWR"]
	path = VOWR
	url = https://github.com/zerish12/vowr
[submodule "nhscancerwaits"]
	path = nhscancerwaits
	url = https://github.com/zerish12/nhscancerwaits
